
header, body, footer, div  {
    flex-direction: column;
    align-self: center;
    text-align: center;
}
header {
    padding: 2% 0px;
    background-color: rgb(204, 204, 204);
} 

body {
    background-color: rgb(185, 226, 253);
}

.input{
    margin: 0.5%;
}

h1, h3, h6, .listaResumen {
    margin: 2%;
    color: black;
}

#listaCuotas {
    align-self: center;
}

.toggle, .col-4{
    display: inline;
}    

.prestamoCalculado {
  font-weight: 700;
}

li {
    list-style:none;
}
.oculto {
        display:none;
    }

.btn {
    background-color: rgb(204, 204, 204);
    color: black;
    margin: 2% 1%;
    font-size: 1rem;
    border: 1.5px solid black;
}
      