@import '../base/listas';

/* footer */
.footer {
    background-color: nth($colors-proj, 1);
    color: nth($colors-proj, 2);
    padding: 0px;
    .footer-items {
        margin: 0px;
        .footer-izq{
            nav {
                ul {
                    li {
                        font-size: nth($size-proj, 3);
                        letter-spacing: 1px;
                        list-style: none;
                        a {
                            color: nth($colors-proj, 2);
                        }
                        
                    }
                }
            }   
        }
        
        .footer-cen {
            .envios {
                font-weight: bold;
                color: nth($colors-proj, 2);
            }
            .logos {
            width: 30px;
            }
        }
        
        .footer-der {
            .derechos {
                font-style: oblique;
                font-size: nth($size-proj, 4);
                margin-top: 26px;
            }
            .logos {
                width: 30px;
            }
        }
    }
}


