/* header */ 
header {
    font-family: $font-general;
    background-color: $bg-general;
    margin: 0;
    padding: 0;
}

.logo-proj {
  width: 100px;
}

.h1-proj {
  font-family: $font-general;
  font-size: nth($size-proj, 1);
  padding-left: 25px;
  padding-right: 65px;
}

