/* Generales */
img[src="https://cdn.000webhost.com/000webhost/logo/footer-powered-by-000webhost-white2.png"] {
    display: none;
}

html, body {
    font-size: 62.5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
}


a , p {
    font-size: nth($size-proj, 4);
    color: white;
}

.h2-proj {
    font-size: nth($size-proj, 2);
    background-color: nth($colors-proj , 4);
    color: nth($colors-proj, 2);
    padding: 1px;
}
.producto:hover {
    opacity: 65%;
    transition: 0.5s ease;
}

.form-label , .form-control {
    font-size: nth($size-proj, 3);
}

.card {
    width: 80%;
    margin: 20px 0px;
}

.card-title {
    font-size: nth($size-proj, 4);

}
